body {
    background: gray;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    background-color: burlywood;
    border: 2px solid gold;
    border-radius: 15px;
    width: 95%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
    text-shadow: -2px 2px wheat;
    margin-bottom: 10px;
}

h3 {
    margin-top: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

label {
    font-weight: bold;
}


input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 85%;
    margin-top: 10px;

}


button {
    padding: 10px;
    background: goldenrod;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    width: 95%;
    margin-top: 10px;
}

button:hover {
    background: darkgoldenrod;
}


/* Opciones de vehículos */
.opciones {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;

    @media (max-width: 450px) {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

.opcion img {
    border: 5px solid white;
    border-radius: 5px;
    width: 220px;
    height: 180px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    cursor: pointer;
    transition: border 0.3s ease;
    
    &.seleccionado {
        border-color: red;
    }
}

.opcion label {
    display: block;
    font-weight: bold;
    margin-top: 5px;
}


.mensaje-emergente {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    text-align: center;
    
    #mensajeTexto {
        margin: 10px 0;
        font-size: 18px;
    }
    
    button {
        padding: 10px 20px;
        background-color: red;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        
        &:hover {
            background-color: darkred;
        }
    }
}